# Python
__pycache__/
*.py[cod]
venv/
.env

# Node
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/

# Vercel
.vercel/

# Backend Model Images (Optional: Keep if you want to verify data)
# model/*.jpg
# model/*.png
